<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMSZTSN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<footer class="footer">
  <div class="container">
    <p>&copy; {{ now.Year }} {{ .Site.Params.author | default "Hason" }}. All rights reserved.</p>
    <p class="footer-links">
      <a href="{{ .Site.BaseURL }}">首页</a> · 
      <a href="{{ .Site.BaseURL }}blog/">博客</a> · 
      <a href="{{ .Site.BaseURL }}portfolio/">作品</a> · 
      <a href="{{ .Site.BaseURL }}resume/">简历</a>
    </p>
  </div>
</footer>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2ab7d644a52cdbb1dc20dddf987ba1d5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
